/* Так обозначаются комментарии в файлах .css */
html, body { /* задание общих стилей для элементов html и body */
  height: 100%; /* Высота - 100 процентов окна браузера */
  margin: 0; /* Обнуление внешних отступов */
  padding: 0; /* Обнуление внутренних отступов */

  user-select: none; /* Запрет на выделение текста */
  -ms-user-select: none; /* Запрет на выделение текста для браузеров Edge, IE */
  -moz-user-select: none; /* Запрет на выделение текста для браузеров Firefox */
}

body { /* задание дополнительных стилей для элемента body */
  font-family: monospace; /* Выбор семейства шрифтов - в данном случае выбран шрифт, у которого все символы имеют одинаковую ширину */
  background: rgba(0, 0, 0, .15) /* Основной фон документа - чёрный с прозрачностью 85% */
              radial-gradient(circle closest-corner at 70vw 20vh , #FAECD5, rgba(0, 0, 0, .05)) /* Фоновой градиент документа - круговой градиент с центром в точке 20% высоты и 70% ширины, цвета градиента - оттенок жёлтого без прозрачности и чёрный с прозрачностью 95%, радиус градиента около 20% высоты */
              fixed; /* Фиксированное положение фона */
  -ms-scrollbar-face-color: black; /* цвета для скролл-бара браузеров Edge, IE */
  -ms-scrollbar-track-color: gray;
  -ms-scrollbar-arrow-color: black;
}

/* стили для скролл-бара, цвет скролл-бара определяется основным фоном документа */
::-webkit-scrollbar {
    width: 12px;  /* ширина скролл-бара */
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);  /* внутренняя тень полосы скролл-бара с размытием 6px и цветом - чёрный с 40% прозрачности */
    border-radius: 10px;  /* закругление полосы скролл-бара */
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;  /* закругление бегунка скролл-бара */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);  /* внутренняя тень бегунка скролл-бара с размытием 6px и цветом - чёрный с 20% прозрачности */
}

header, footer {
  position: relative;
  width: 100%;
  height: 160px;
  border-bottom: 3px solid rgba(0, 0, 0, .15);
  background-color: rgba(0, 0, 0, .5);
}

footer {
  border-bottom: none;
  border-top: 3px solid rgba(0, 0, 0, .15);
}

.header__title, .footer__copyright {
  position: absolute;
  top: 48px;
  left: 192px;
  font-size: 48px;
  font-family: fantasy;
  color: rgba(255, 255, 255, .5);
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
  letter-spacing: 2px;
  transition: .5s;
}

.footer__copyright {
  font-family: monospace;
  left: 48px;
}

header:hover .header__title {
  transform: scale(1.05);
}

.header__menu {
  position: relative;
  float: right;
  margin: 40px 32px 0 0;
}

.header__menu li {
  display: inline-block;
  list-style: none;
  padding: 12px;
  margin: 12px 12px 0 0;
  font-size: 28px;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 5px;
    transition: color 0.5s;
}

.header__menu a {
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
  color: rgba(255, 255, 255, .5);
}

.header__menu a:hover {
    color: #ffffff;
    transition: color 0.5s;
}

.header__menu li:hover {
  background-color: rgba(0, 0, 0, .15);
}

.header__menu::before,
.header__menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 95%;
    height: 2px;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s, transform 0.3s;
}

.header__menu::before {
    top: 0;
    transform: translateY(-15px);
}

.header__menu::after {
    bottom: 0;
    transform: translateY(30px);
}

.header__menu:hover::before,
.header__menu:hover::after {
    opacity: 1;
    transform: translateY(15px);
}

.header__menu:hover::before{
    transform: translateY(0px);
}

.header__logo, .footer__logo {
  float: left;
  width: 128px;
  height: 128px;
  margin: 16px 0 0 16px;
  opacity: .25;
  transition: .5s;
}

.footer__logo {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

header:hover .header__logo, footer:hover .footer__logo {
  opacity: .5;
}

h2 {
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, .75);
  text-shadow: 0 0 2px rgba(155, 110, 155, .5);
  margin-top: 48px;
}

article {
    padding: 33px;
    column-count: 2;
    column-gap: 66px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 18px;
    text-align: justify;
    color: rgba(0, 0, 0, .95);
    margin: 25px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, .1), inset 0 0 24px rgba(0, 0, 0, .1), inset 0 0 36px rgba(0, 0, 0, .1);
}

article.full_width {
  column-count: 1;
}

article p {
  margin: 0;
  padding: 0;
}

.main__photo_section {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

figure {
  width: 30%;
  text-align: center;
}

figure img {
  width: 25vw;
}

figcaption {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}